.store {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #9b9b9b;
  margin-bottom: 11px;
  padding: 5px;
}

.rating {
  font-size: 10px;
  line-height: 8px;
  color: #9b9b9b;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

div .card {
  border-radius: 3px;
  width: 50px;
}

div .card-body {
  margin: 5px;
  justify-content: space-between;
  line-height: 2;
}

.cursor {
  cursor: pointer;
}

.images {
  width: 10px;
  height: 10px;
}

.image {
  width: 10px;
  height: 10px;
  object-fit: cover;
}

.list {
  list-style: none;
  padding-left: 0;
}

.title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  color: #000;
  padding: 5px;
}

.price {
  color: #db3022;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  margin: 6px 0;
  padding: 5px;
}
